<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codecov" version="1.12.3" targetFramework="net48" />
  <package id="Contracts" version="1.0.3" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="RegistryTools" version="1.0.0" targetFramework="net48" />
  <package id="SchedulerTools" version="1.0.3" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="TaskbarTools" version="1.0.3" targetFramework="net48" />
  <package id="TaskScheduler" version="2.8.21" targetFramework="net48" />
  <package id="Tracing" version="2.2.19302.1" targetFramework="net48" />
</packages>