<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/dlebansais/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="dlebansais" />
            <!-- Read-only access -->
            <add key="ClearTextPassword" value="b037cddc19e94766e678d2797c76a04521e3291b" />
        </github>
    </packageSourceCredentials>
</configuration>